<!-- Start Page View -->
<section class="auth" ng-show="!myform.submitted && myform.startPage.showStart">
  <div style="margin-top: calc(50vh - 190px)">
    <div class="row form-actions" style="padding: 5px 25px 5px 25px;">
      <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-4">
        <form class="form-horizontal" style="margin-top: 50px">
          <div class="form-group text-center">
            <img src="/static/modules/core/img/logo.png" style="height:55px" />
          </div>

          <div class="form-group">
            <div
              class="text-danger"
              ng-show="error"
              style="background: #FFD747; padding: 5px 15px;display: block;border-radius: 4px; width: 100%;"
            >
              <strong>{{ error }}</strong>
            </div>
          </div>
          <div class="form-group">
            <label>Login: </label>
            <input
              type="text"
              class="form-control"
              ng-model="access.code"
              ng-keypress="exitStartPageOnEnterPress($event)"
            />
          </div>
          <div class="form-group">
            <label>Senha: </label>
            <input
              type="password"
              class="form-control"
              ng-model="access.password"
              ng-keypress="exitStartPageOnEnterPress($event)"
            />
          </div>
          <div class="form-group" ng-show="unsuccessfulAttemps >= 3">
            <div
              class="g-recaptcha"
              data-sitekey="6Le2dRoUAAAAAOekPmNq_1pt5beTH5yhwDq1cOyf"
            ></div>
          </div>
          <div class="form-group">
            <button
              ng-click="exitStartPage()"
              class="btn btn-signup btn-rounded btn-block"
              type="button"
            >
              {{ myform.startPage.introButtonText }}
            </button>
          </div>
        </form>
        <script src="https://www.google.com/recaptcha/api.js"></script>
      </div>
    </div>

    <div
      class="row form-actions"
      style="padding-top:3em; padding-left: 1em; padding-right: 1em;"
    >
      <div class="row"><div class="col-md-12 text-center"></div></div>
    </div>
  </div>
</section>

<div
  class="row form-brand-header"
  ng-show="!myform.submitted && !myform.startPage.showStart"
>
  <img
    src="/static/modules/core/img/logo.png"
    style="height:55px"
    class="img-responsive"
  />
</div>

<!-- Form Fields View -->
<div
  class="form-fields"
  ng-style="formFieldsStyle"
  ng-show="!myform.submitted && !myform.startPage.showStart"
>
  <!-- Confirmar finalização Modal -->
  <div
    class="modal fade"
    id="confirmar-finalizacao-modal"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Confirmar finalização da pesquisa
          </h4>
        </div>
        <div class="modal-body">
          Você não respondeu a todas as questões. A pesquisa respondida de forma
          incompleta não será considerada válida. Tem certeza que deseja
          finalizar a pesquisa?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="submitForm(false, true)"
          >
            Finalizar Pesquisa
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 40px;">
    <div class="col-xs-12">
      <br />
      <h3>{{ myform.startPage.introTitle }}</h3>
      <div data-ng-bind-html="myform.startPage.introParagraph"></div>
    </div>
  </div>

  <div class="row">
    <form
      name="forms.myForm"
      novalidate
      class="submission-form col-sm-12 col-md-offset-1 col-md-10"
    >
      <div ng-repeat="group in groupedFormFields">
        <div class="row">
          <h2
            class="dim-name"
            ng-hide="group.name == 'DADOS PESSOAIS E FUNCIONAIS'"
          >
            {{ group.name }}
          </h2>
          <p>{{ group.description }}</p>
        </div>

        <div
          ng-repeat="field in group.fields"
          ng-if="!field.deletePreserved"
          data-index="{{$index}}"
          data-id="{{field._id}}"
          ng-class="{activeField: selected._id == field._id }"
          class="row field-directive"
        >
          <field-directive
            field="field"
            design="myform.design"
            index="field.index"
            forms="forms"
          >
          </field-directive>
        </div>
      </div>
    </form>
  </div>

  <div class="row form-actions" id="submit_field" style="height: 150px;"></div>

  <section
    ng-if="!myform.hideFooter"
    class="navbar navbar-fixed-bottom button-bar"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" ng-show="!myform.submitted">
          <p class="lead">
            {{ "ADVANCEMENT" | translate: translateAdvancementData }}
          </p>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>

        <div class="col-md-4 col-sm-4 col-xs-4  text-right">
          <button
            class="btn btn-success btn hidden-xs"
            ng-disabled="partialLoading  || forms.myForm.$invalid"
            v-busy="partialLoading"
            v-pressable
            ng-click="submitForm(true)"
          >
            <i class="fa fa-save"></i> Salvar/Continuar depois
          </button>
          <button
            class="btn btn-primary btn hidden-xs"
            v-busy="loading"
            v-pressable
            ng-disabled="loading || forms.myForm.$invalid"
            ng-click="submitForm(false)"
          >
            <i class="fa fa-send"> </i> Finalizar Pesquisa
          </button>

          <button
            class="btn btn-success btn-block btn-sm visible-xs-inline"
            ng-disabled="partialLoading  || forms.myForm.$invalid"
            v-busy="partialLoading"
            v-pressable
            ng-click="submitForm(true)"
          >
            <i class="fa fa-save"></i>
          </button>
          <button
            class="btn btn-primary btn-block btn-sm visible-xs-inline"
            v-busy="loading"
            v-pressable
            ng-disabled="loading || forms.myForm.$invalid"
            ng-click="submitForm(false, false)"
          >
            <i class="fa fa-send"> </i> Finalizar Pesquisa
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- End Page View -->
<div
  ng-if="myform.submitted && !loading"
  class="form-submitted"
  ng-style="{'color':myform.design.colors.buttonTextColor}"
  style="padding-top: 5vh;"
>
  <div class="field row text-center">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center"
      ng-show="partial"
    >
      <p>Pesquisa salva com sucesso.</p>
    </div>

    <div
      class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center"
      ng-show="!partial"
    >
      <p>Agradecemos sua participação.</p>
      <p>Pesquisa concluída com sucesso.</p>
    </div>
  </div>
</div>
