<section class="navbar navbar-inverse" data-ng-controller="HeaderController" ng-hide="hideNav">
	<div class="container" >
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
				<span class="sr-only">Toggle navigation</span>
				<span>{{ 'MENU_BTN' | translate }}</span>
			</button>
			<a href="/#!/" class="navbar-brand">
				<img src="/static/modules/core/img/logo.png" height="100%">
			</a>
		</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
			<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.isAuthenticated()">
				<li>
					<a href='/' ng-click="signout()">{{ 'SIGNOUT_TAB' | translate }}</a>
				</li>
			</ul>
		</nav>
	</div>
</section>
