<section class="auth sigin-view valign-wrapper" data-ng-controller="AuthenticationController">
	<!--<h3 class="col-md-12 text-center">{{ 'SIGNIN_HEADER_TEXT' | translate }}</h3>-->
	<!--
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	-->
	<!-- <h3 class="col-md-12 text-center">Or with your account</h3> -->

	<div class="row valign">
		<div class="col-md-4 col-md-offset-4">
			<div class="col-md-12 text-center" style="padding-bottom: 50px;">
				<img src="/static/modules/core/img/logo.png" height="62px">
			</div>
			<div class="col-md-12">
				<form class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div data-ng-show="error" class="text-center text-danger">
							Error: <strong data-ng-bind="error"></strong>
						</div>
						<div class="form-group">
							<!--<label for="username">{{ 'USERNAME_LABEL' | translate }}</label>-->
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{ 'USERNAME_OR_EMAIL_LABEL' | translate }}" ng-minlength="4">
						</div>
						<div class="form-group">
							<!--<label for="password">{{ 'PASSWORD_LABEL' | translate }}</label>-->
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="{{ 'PASSWORD_LABEL' | translate }}" ng-minlength="4">
						</div>
						<div class="form-group">
							<button class="btn btn-signup btn-rounded btn-block" ng-click="signin()">{{ 'SIGNIN_BTN' | translate }}</button>
						</div>
						<div class="text-center forgot-password">
							<a ui-sref="forgot">{{ 'FORGOT_PASSWORD_LINK' | translate }}</a>
						</div>

					</fieldset>
				</form>
			</div>

		</div>
		<div class="text-center forgot-password col-md-12">
			<a ui-sref="signup">{{ 'SIGNUP_ACCOUNT_LINK' | translate }}</a>
		</div>
	</div>
</section>
