<header data-ng-include="'/static/modules/core/views/header.client.view.html'"></header>

<div class="container-fluid">
    <section class="row" data-ng-controller="RespondentController as c" data-ng-init="findAll()">
        <div class="col-md-12">
            <h1>List Respondent</h1>

            <div data-ng-repeat="r in respondents">
                {{r}}
            </div>
        </div>
    </section>
</div>