<header data-ng-include="'/static/modules/core/views/header.client.view.html'"></header>

<div class="container"></div>

<section class="container-fluid admin-form">
	
	<div class="row page-header" style="padding-bottom: 1em;">
		<div class="col-xs-10 col-sm-8">
			<h1 class="hidden-sm hidden-xs" data-ng-bind="myform.title" style="margin-bottom: 0px;"></h1>
			<h2 class="hidden-md hidden-lg" data-ng-bind="myform.title" style="margin-bottom: 0px;"></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<uib-tabset active="activePill" type="tabs">
				
				<uib-tab ng-repeat="tab in tabData" index="{{$index}}+1" heading="{{tab.heading}}">
					<div data-ng-include="'/static/modules/forms/admin/views/adminTabs/'+tab.templateName+'.html'" onload="form_url = trustSrc(formURL)"></div>
				</uib-tab>
				
				<uib-tab ng-if="tabData" heading="Respondentes" index="{{tabData.length}}">
					<div class='row' data-ng-include="'/static/modules/forms/admin/views/adminTabs/respondents.html'" onload="loadRespondents()"></div>
				</uib-tab>				
			</uib-tabset>
		</div>
	</div>
</section>
