<header data-ng-include="'/static/modules/core/views/header.client.view.html'"></header>

<section data-ng-controller="ListFormsController as ctrl" data-ng-init="findAll()" class="container">
	<div class="row">
		<div data-ng-repeat="form in myforms" 
            class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 form-item container"
			 ng-class="{'paused': !form.isLive}">

			<div class="row">
				<a data-ng-href="#!/forms/{{form._id}}/admin/analyze"
					class="title-row col-xs-12" style="color: white;">
					<h4 class="list-group-item-heading" data-ng-bind="form.title"></h4>
				</a>
				<div class="col-xs-12 responses-row">
					<small class="list-group-item-text">
						<span> {{ form.submissions.length }} respostas </span>
					</small>
					<br>
					<br>
					<small ng-if="!form.isLive" class="list-group-item-text">
						<span> Form Paused </span>
					</small>
				</div>
			</div>
		</div>
	</div>
</section>
