section.auth {
	position: absolute;
	min-height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	background-color: #50B5C1; /* Old browsers */
	background: -moz-linear-gradient(137deg, #50B5C1 0%, #6450A0 85%); /* FF3.6-15 */
	background: -webkit-linear-gradient(137deg, #50B5C1 0%, #6450A0 85%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(137deg, #50B5C1 0%, #6450A0 85%);
	background: linear-gradient(137deg, #50B5C1 0%, #6450A0 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50B5C1', endColorstr='#6450A0', GradientType=1); /* IE6-9 fallback on horizontal gradient */
	background-size: auto;
}
	section.auth > h3{
		font-size: 2em;
		font-weight: 500;
	}

	.valign-wrapper {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.valign-wrapper .valign {
		display: block;
		width: 100%;
	}

	section.auth a {
		color: white;
		text-decoration: underline;
	}

	section.auth.signup-view > h3 {
		font-size: 3em;
		padding-bottom: 0.5em;
	}

	section.auth form .field-input select {
		padding: 0.45em 0.9em;
		width: 100%;
		background: transparent;
		font-size: 16px;
		border: 1px solid #ccc;
		height: 34px;
	}

	section.auth input {
		color: #4c4c4c;
	}

	section.auth .btn {
		border-radius: 4px;
		font-size: 14px;
		padding: 12px 28px;
		margin-top: 1em;
		text-transform: uppercase;
		border: 0;
	}


	.btn-rounded.btn-signup {
		background-color: #004389;
		color: white;
		border: 0;
	}

	.btn-rounded.btn-signup:hover {
		color: white;
		background-color: #005bb9;
		border: 0;
	}

	.btn-rounded.btn-default {
		background-color: transparent;
		color: white;
		border: 2px white solid;
	}

	.btn-rounded.btn-default:focus, .btn-rounded.btn-default:hover {
		color: #6450A0;
		background-color: white;
		border-color: white;
	}

@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

section.auth label{
	color: #004389;
}

section.auth input.form-control {
	border: 1px solid #004389;
}

.btn {
	border: none;
}
