<section class="auth valign-wrapper" data-ng-controller="VerifyController">

	<section class="row valign" ng-if="!isResetSent">
		<div class="col-md-4 col-md-offset-4">
			<div class="col-md-12 text-center" style="padding-bottom: 50px;">
				<img src="/static/modules/core/img/logo.png" height="62px">
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong>{{error}}</strong>
			</div>
			<div class="col-md-12">
				<form data-ng-submit="resendVerifyEmail()" class="signin form-horizontal" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="{{ 'ENTER_ACCOUNT_EMAIL' | translate}}">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-signup btn-rounded btn-block" ng-click="resendVerifyEmail()">{{ 'RESEND_VERIFICATION_EMAIL' | translate }}</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</section>

	<section class="row valign" ng-if="isResetSent">
		<div class="col-md-4 col-md-offset-4">
			<div class="col-md-12 text-center" style="padding-bottom: 50px;">
				<img src="/static/modules/core/img/logo.png" height="62px">
			</div>
			<h3 class="col-md-12 text-center">Verification Email has been Sent</h3>
			<div class="col-md-12">
				<h2>
					{{ 'VERIFICATION_EMAIL_SENT' | translate }} {{username}}.
					<br> {{ 'NOT_ACTIVATED_YET' | translate }}
				</h2>
				<p> {{ 'CHECK_YOUR_EMAIL' | translate }} <a href="mail:polydaic@gmail.com">polydaic@gmail.com</a></p>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary btn-rounded">
						<a href="/#!/" style="color:white;">Continue</a>
					</button>
				</div>
			</div>
		</div>
	</section>
</section>
