/* Custom Tab CSS */
.nav.nav-pills.nav-stacked {
  width: 16.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
}

div.tab-content {
  padding-top: 15px !important;
}

.busy-updating-wrapper {
  text-align: center;
  font-size: 20px;
  position: fixed;
  bottom: 0;
  right: 55px;
  z-index: 1;
}

.busy-submitting-wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}

.dropzone h4.panel-title {
  height: 17px;
  overflow: hidden;
}

.container.admin-form {
  margin-top: 70px;
}

section.content p.breakwords {
  word-break: break-all;
}

.public-form .btn {
  border: 1px solid #c6c6c6;
}

.public-form .btn[type="submit"] {
  font-size: 1.5em;
  padding: 0.35em 1.2em 0.35em 1.2em;
}

section.content > section > section.container {
  margin-top: 70px;
}

/*
** Modal CSS Styles 
*/
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
  font-weight: normal;
}
.public-form .input-block {
  display: block;
  width: 100%;
}
.modal-footer input[type="text"] {
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
.modal-footer input[type="text"]:focus {
  outline: 0;
}
.modal-body > .modal-body-alert {
  color: #796620;
  background-color: #f8eec7;
  border-color: #f2e09a;
  margin: -16px -15px 15px;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px 0;
}

div.form-fields {
  position: relative;
}
.public-form .letter {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 16px;
  padding: 0;
  height: 17px;
  font-size: 12px;
  line-height: 19px;
  border: 1px solid #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-weight: 700;
}

div.form-submitted > .field.row {
  padding-bottom: 2%;
  margin-top: 35vh;
}
div.form-submitted > .field.row > div {
  font-size: 1.7em;
}

/* Styles for accordion */
form .accordion-edit {
  width: inherit;
}

/*Styles for ui-datepicker*/
.ui-datepicker.ui-widget {
  z-index: 99 !important;
}

form .row.field h3 {
  font-size: 18px;
}

form .row.field .field-number {
  margin-right: 0.5em;
  font-size: 15px;
}

/* Styles for form submission view (/forms/:formID) */
form .row.field {
  padding: 0;
  width: inherit;
}
form .row.field > .field-title {
  margin-top: 0.5em;
  font-size: 1.2em;
  margin-bottom: 5px;
  width: inherit;
}
form .row.field > .field-input {
  font-size: 1.4em;
  color: #777;
}
form.submission-form .row.field.statement > .field-title {
  font-size: 1.2em;
}
form.submission-form .row.field.statement > .field-input {
  font-size: 1em;
  color: #ddd;
}

form.submission-form .select.radio > .field-input input,
form.submission-form .select > .field-input input {
  width: 20%;
}

form.submission-form .field.row.radio .btn.activeBtn {
  background-color: rgb(0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white;
}
form.submission-form .field.row.radio .btn {
  margin-right: 1.2em;
}

form.submission-form .select > .field-input .btn {
  text-align: left;
  margin-bottom: 0.7em;
}
form.submission-form .select > .field-input .btn > span {
  font-size: 1.1em;
}

/*form.submission-form .field-input > input:focus {
            font-size:1em;
        }*/

form .field-input > textarea {
  padding: 0.45em 0.9em;
  width: 100%;
  line-height: 160%;
}

form .field-input > input.hasDatepicker {
  padding: 0.45em 0.9em;
  width: 50%;
  line-height: 160%;
}
form .field-input > input.text-field-input {
  padding: 0.45em 0.9em;
  width: 100%;
  line-height: 160%;
}
form .required-error {
  color: #ddd;
  font-size: 0.8em;
}

form .row.field.dropdown > .field-input input {
  height: 34px;
  border-width: 0 0 2px 0;
  border-radius: 5px;
}

form .row.field.dropdown > .field-input input:focus {
  border: none;
}

form .dropdown > .field-input .ui-select-choices-row-inner {
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.05);
}

form .dropdown > .field-input .ui-select-choices-row-inner.active,
form .dropdown > .field-input .ui-select-choices-row-inner.active:focus {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
}
.config-form {
  max-width: 100%;
}

.config-form > .row {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

div.config-form .row.field {
  padding-top: 1.5em;
}

div.config-form > .row > .container:nth-of-type(odd) {
  border-right: 1px #ddd solid;
}
div.config-form.design > .row > .container:nth-of-type(odd) {
  border-right: none;
}

div.config-form .row > .field-input {
  padding-left: 0.1em;
}
div.config-form .row > .field-input label {
  padding-left: 1.3em;
  display: block;
}

/* Styles for form admin view (/forms/:formID/admin) */
.admin-form > .page-header {
  padding-bottom: 0;
  margin-bottom: 40px;
}
.admin-form > .page-header h1 {
  margin-bottom: 0;
  margin-top: 0;
}
.admin-form > .page-header > .col-xs-3 {
  padding-top: 1.4em;
}
.admin-form .form-controls .row {
  padding: 5px;
}
.admin-form .page-header {
  border: none;
  margin-top: none;
  margin-bottom: none;
}

/*Styles for admin view tabs */
.admin-form .tab-content {
  padding-top: 3em;
}

.current-fields .panel-body .row.question input[type="text"],
.current-fields .panel-body .row.description textarea {
  width: 100%;
}
.current-fields .panel-body .row.options input[type="text"] {
  width: 80%;
}

/*Override Select2 UI*/
.ui-select-choices.ui-select-dropdown {
  top: 2.5em !important;
}
.ui-select-toggle {
  box-shadow: none !important;
  border: none !important;
}

.current-fields .tool-panel > .panel-default:hover {
  border-color: #9d9d9d;
  cursor: pointer;
}

.current-fields .tool-panel > .panel-default .panel-heading {
  background-color: #fff;
  color: #9d9d9d !important;
}
.current-fields .tool-panel > .panel-default .panel-heading:hover {
  background-color: #eee;
  color: #000 !important;
  cursor: pointer;
}
.current-fields .tool-panel > .panel-default .panel-heading a {
  color: inherit;
}
.current-fields .tool-panel > .panel-default .panel-heading a:hover {
  text-decoration: none;
}

/*Styles for submission table*/
.submissions-table .table-outer.row {
  margin: 1.5em 0 2em 0 !important;
}
.submissions-table .table-outer .col-xs-12 {
  padding-left: 0 !important;
  border: 1px solid #ddd;
  overflow-x: scroll;
  border-radius: 3px;
}
.submissions-table .table > thead > tr > th {
  min-width: 8em;
}
.submissions-table .table > tbody > tr.selected {
  background-color: #efefef;
}

/*Styles for add fields tab*/
.admin-form .add-field {
  border-right: 1px solid #eee;
}
.admin-form .add-field .col-xs-6 {
  padding: 0.25em 0.4em;
}
.admin-form .add-field .col-xs-6 .panel-heading {
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  border-radius: 4px;
}

.admin-form .oscar-field-select {
  margin: 10px 0 10px;
}

.view-form-btn.span {
  padding-right: 0.6em;
}
.status-light.status-light-off {
  color: #be0000;
}
.status-light.status-light-on {
  color: #33cc00;
}

/* Styles for form list view (/forms) */
section.public-form {
  padding: 0 10% 0 10%;
}
section.public-form .form-submitted {
  height: 100vh;
}

section.public-form .btn {
  border: 1px solid;
}

.form-item {
  border-radius: 5px;
  text-align: center;
  background-color: #eee;
  width: 180px;
  position: relative;
  height: 215px;
  margin-bottom: 45px;
}

.form-item.paused {
  background-color: red;
  color: white;
}

.form-item.paused:hover {
  background-color: darkred;
  color: white;
}

.form-item.create-new input[type="text"] {
  width: inherit;
  color: black;
  border: none;
}

.form-item.create-new {
  background-color: #3fa2f7;
  color: white;
}

.form-item.create-new:hover {
  background-color: #276496;
}

/*CREATE-NEW FORM MODAL*/
.form-item.create-new.new-form {
  background-color: rgb(300, 131, 131);
  z-index: 11;
}
.form-item.create-new.new-form:hover {
  background-color: #3079b5;
}
.form-item.new-form input[type="text"] {
  margin-top: 0.2em;
  width: inherit;
  color: black;
  border: none;
  padding: 0.3em 0.6em 0.3em 0.6em;
}
.form-item.new-form .custom-select {
  margin-top: 0.2em;
}
.form-item.new-form .custom-select select {
  background-color: white;
}

.form-item.new-form .details-row {
  margin-top: 1em;
}
.form-item.new-form .details-row.submit {
  margin-top: 1.7em;
}
.form-item.new-form .details-row.submit .btn {
  font-size: 0.95em;
}

.form-item.new-form .title-row {
  margin-top: 1em;
  top: 0;
}

/*Modal overlay (for lightbox effect)*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.overlay.submitform {
  background-color: rgb(256, 256, 256);
  background-color: rgba(256, 256, 256, 0.8);
}
.field-directive {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}
.activeField {
  z-index: 11;
  position: relative;
  background-color: transparent;
}

.activeField input {
  background-color: transparent;
}

h3.forms-list-title {
  color: #3fa2f7;
  weight: 600;
  margin-bottom: 3em;
}
.form-item {
  color: #71aadd;
  background-color: #e4f1fd;
}
.form-item:hover {
  background-color: #3fa2f7;
  color: #23527c;
}

.form-item.create-new:hover {
  background-color: #d9d9d9;
  color: white;
}

.form-item.create-new:hover {
  background-color: rgb(81, 81, 81);
}

.form-item > .row.footer {
  position: absolute;
  bottom: 0;
  left: 30%;
}

.form-item .title-row {
  position: relative;
  top: 15px;
  padding-top: 3em;
  padding-bottom: 1em;
}
.form-item .title-row h4 {
  font-size: 1.3em;
}
.form-item .responses-row {
}

.form-item.create-new .title-row {
  padding: 0;
}
.form-item.create-new .title-row h4 {
  font-size: 7em;
}

.form-item .details-row {
  margin-top: 3.2em;
}
.form-item .details-row small {
  font-size: 0.6em;
}
.form-item.create-new .details-row small {
  font-size: 0.95em;
}

.form-brand-header {
  position: fixed;
  left: 15px;
  top: 0;
  width: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  z-index: 1030;
  background: cornflowerblue;
  padding: 15px 40px;
}

ul.twoa-radio-option-list {
  padding: 0;
}

ul.twoa-radio-option-list li {
  display: inline-block;
  font-size: 0.78em;
  width: 160px;
}

ul.twoa-radio-option-list li label {
  line-height: 20px;
  margin-right: 25px;
}

.checkbox-custom,
.radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before,
.radio-custom + .radio-custom-label:before {
  content: "";
  background: #fff;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  background: #4caf50;
  color: #fff;
  line-height: 1;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label {
  font-weight: bold;
}

.radio-custom-label {
  color: #000;
}

.radio-custom:checked + .radio-custom-label:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #000;
  line-height: 15px;
  padding: 0;
}

.checkbox-custom:focus + .checkbox-custom-label,
.radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

.question-group-bar {
  position: fixed;
  background: #f0f0f0;
  display: block;
  width: 100%;
  left: 15px;
  border-bottom: 1px solid #d0d0d0;
  z-index: 100;
}

.question-group-bar h4 {
  color: #565252;
  margin: 0;
  line-height: 51px;
}

ul.legenda {
  padding: 0;
  margin: 10px 0;
  font-size: 15px;
}

.legenda li {
  display: inline;
  margin-right: 15px;
}

ul.legenda li span {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 6px;
  line-height: 30px;
  margin-right: 10px;
  background: #dddddd;
  color: #3f3f3f;
}

.dim-name {
  font-size: 1.25em;
  margin-top: 45px;
  background: #70ad47;
  color: white;
  padding: 5px 15px;
}

.button-bar {
  background-color: #f0f0f0;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  color: rgb(51, 51, 51);
  box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.13);
}

.loading {
  padding-top: 120px;
  height: 100vh;
  color: whitesmoke;
  background-color: #50b5c1;
  background: -moz-linear-gradient(137deg, #50b5c1 0%, #6450a0 85%);
  background: -webkit-linear-gradient(137deg, #50b5c1 0%, #6450a0 85%);
  background: linear-gradient(137deg, #50b5c1 0%, #6450a0 85%);
  background: linear-gradient(137deg, #50b5c1 0%, #6450a0 85%);
  background: url("/static/modules/core/img/bg.jpg");
  background-size: auto;
}

.loading span {
  font-size: 1.3em;
}
