<div class="container">
    
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Gerar Credenciais de Acesso</h4>
                    <hr/>
                    <form>
                        <div class="form-group">
                            <label>Quantidade</label>
                            <input type="text" class="form-control" placeholder="100" ng-model="credentialsQtd" />
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-primary" ng-click="genRespondentCredentials(credentialsQtd)">
                        <span>
                            <i class="fa fa-circle-o-notch fa-spin fa-fw" ng-show="generating"></i>
                            Gerar
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>Código de Acesso</th>
                        <th>Senha</th>
                        <th>Iniciou</th>
                        <th>Finalizou</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="r in respondents">
                        <td>{{r.username}}</td>
                        <td>{{r.passwordText}} </td>
                        <td>{{r.started ? 'Sim' : 'Não'}}</td>
                        <td>{{r.hasResponded ? 'Sim' : 'Não'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>



</div>
