<div class="submissions-table container">
	<div class="row analytics">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-6 col-xs-12" style="height: 30px">
								<h3 class="panel-title" style="display: inline">
									Qualidade Por Serviço
								</h3>
							</div>
							<div class="col-md-6 col-xs-12">
								<select class="pull-right" style="width:100%" ng-model="selectedServico" 
									ng-options="s for s in servicos"
									ng-change="changeSelectedServico()"></select>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div id="chart2"></div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading"> <h3 class="panel-title">Estatística de acesso</h3></div>
					<div class="panel-body">
						<div class="col-xs-12 text-center">
							<div class="col-md-3 col-xs-6">
								<div class="header-title">
									{{ 'TOTAL_VIEWS' | translate }}
								</div>
								<div class="header-numbers">
									{{LoginCount}}
								</div>
							</div>
				
							<div class="col-md-3 col-xs-6">
								<div class="header-title">
									{{ 'RESPONSES' | translate }}
								</div>
								<div class="header-numbers">
									{{ResponseCount}}
								</div>
							</div>
				
							<div class="col-md-3 col-xs-6">
								<div class="header-title">
									{{ 'COMPLETION_RATE	' | translate }}
								</div>
								<div class="header-numbers">
									{{(ResponseCount/LoginCount)*100 | number:0}}%
								</div>								
							</div>
				
							<div class="col-md-3 col-xs-6">
								<div class="header-title">
									{{ 'AVERAGE_TIME_TO_COMPLETE	' | translate }}
								</div>
								<div class="header-numbers">
									{{ AverageTimeElapsed | secondsToDateTime | date:'mm:ss'}}
								</div>	
							</div>
						</div>
						<div class="col-xs-12">
							<div id="chart"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row table-outer">
		<div class="col-xs-12"> 					
			<table id="table-submission-data" class="table table-striped table-hover table-condensed" style="display: block; max-height: 500px; min-height: 350px;">
			<thead>
				<tr>
					<th>
						<input ng-model="table.masterChecker" ng-change="toggleAllCheckers()" type="checkbox"/>
					</th>
					<th>#</th>
					<th data-ng-repeat="(key, value) in myform.form_fields">
						{{value.title}}
					</th>
					<th>
						{{ 'PERCENTAGE_COMPLETE' | translate }}
					</th>
					<th>
						{{ 'TIME_ELAPSED' | translate }}
					</th>
					<th>
						{{ 'DATE_SUBMITTED' | translate }} (UTC)
					</th>
				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="row in table.rows" ng-click="rowClicked($index)" ng-class="{selected: row.selected === true}">
					<td>
						<input ng-model="row.selected" type="checkbox"/>
					</td>
					<th class="scope">
						{{$index+1}}
					</th>

					<td data-ng-repeat="field in row.form_fields">
						{{field.fieldValue}}
					</td>
					<td>
						{{row.partial ? 'Não concluído' : row.percentageComplete + '%' }}
					</td>
					<td>
						{{row.timeElapsed | secondsToDateTime | date:'mm:ss'}}
					</td>
					<td>
						{{row.created | date:'yyyy-MM-dd HH:mm:ss'}}
					</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
