<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Perfixforms</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Fav Icon -->
	<link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900'>
	<link rel="stylesheet" href="/static/lib/c3/c3.min.css">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}
		<link rel="stylesheet" href="{{cssFile}}">
	{% endfor %}
	<!-- end Application CSS Files-->


	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body ng-cloak>
	{% block content %}{% endblock %}

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Embedding The signupDisabled Boolean-->
	<script type="text/javascript">
		var signupDisabled = true;
	</script>

	<!--Bower JS dependencies-->
	<script type="text/javascript" src="static/dist/app/vendor.js"></script>
	<!-- end Bower JS dependencies-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.min.js"></script>

	<!--Application JavaScript Files-->
	<script type="text/javascript" src="static/dist/app/TellForm.js"></script>
	<!-- end Application Javascript dependencies-->


	<!-- [if lt IE 9]>
	<section class="browsehappy jumbotron hide">
		<h1>Hello there!</h1>
		<p>You are using an old browser which we unfortunately do not support.</p>
		<p>Please <a href="http://browsehappy.com/">click here</a> to update your browser before using the website.</p>
		<p><a href="http://browsehappy.com" class="btn btn-primary btn-lg" role="button">Yes, upgrade my browser!</a></p>
	</section>
	<![endif] -->


</body>

</html>
