<div class="field row radio"
on-enter-or-tab-key="nextField()"
key-to-option field="field"
ng-if="field.fieldOptions.length > 0">

    <div class="col-xs-12 field-title">
        <h3>
            <small class="field-number">
                {{index}}
            </small>
            O serviço que você usou foi previamente agendado?
        </h3>
    </div>

    <div class="col-xs-12 field-input">
        <div class="row">
            <div class="col-md-12">
                <ul class="twoa-radio-option-list">
                    <li>
                        <label>
                            <input type="radio"
                                ng-model="$root.showCondQuestion"
                                value="{{true}}"
                                ng-change="$root.showCondQuestionChange(true)"
                                style="transform: scale(1.3);"/>
                            <span>Sim</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio"
                                ng-model="$root.showCondQuestion"
                                value="{{false}}"
                                ng-change="$root.showCondQuestionChange(true)"
                                style="transform: scale(1.3);"/>
                            <span>Não</span>
                        </label>
                    </li>
                </ul>
            </div>    
        </div>
    </div>

        <div class="col-xs-12 field-title" ng-show="$root.showCondQuestion === 'true'">
            <h3>
                <small class="field-number">
                    {{index}}.1
                </small>
                {{field.title}}
            </h3>
        </div>

        <div class="col-xs-12 field-input" ng-show="$root.showCondQuestion === 'true'">
            <div class="row">
                <div class="col-md-12">
                    <ul class="twoa-radio-option-list">
                        <li ng-repeat="option in field.fieldOptions">
                            <label for="{{field._id}}_{{option.option_id}}_0">
                                <input type="radio"
                                    id="{{field._id}}_{{option.option_id}}_0"
                                    value="{{option.option_value}}"
                                    ng-model="field.fieldValue"
                                    ng-model-options="{ debounce: 250 }"
                                    ng-required="field.required"
                                    ng-disabled="field.disabled"
                                    ng-change="$root.nextField()"
                                    ng-focus="setActiveField(field._id, index, true)"
                                    style="transform: scale(1.3);"/>
                                <span ng-bind="option.option_value"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
<br>
