<div class="field row dropdown" ng-if="field.fieldOptions.length > 0">
  <div
    class="col-xs-12 field-title"
    ng-style="{'color': design.colors.questionColor}"
  >
    <h3>
      <small class="field-number">
        {{ index }} <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </small>
      {{ field.title }}
    </h3>
  </div>
  <div class="col-xs-12 field-input">
    <select
      ng-model="field.fieldValue"
      id="{{field._id}}_{{option.option_id}}_0"
      value="{{option.option_value}}"
      ng-required="field.required"
      ng-disabled="field.disabled"
      ng-change="$root.nextField()"
      ng-focus="setActiveField(field._id, index, true)"
    >
      <option
        ng-repeat="option in field.fieldOptions"
        value="{{option.option_id}}"
        ><span>{{ option.option_value }}</span>
      </option>
    </select>
  </div>
</div>
<br />
