<div class="field row radio legal"
	 on-enter-or-tab-key="nextField()"
	 key-to-truthy key-char-truthy="y" key-char-falsey="n" field="field">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
    	<h3>
			<small class="field-number">
				{{index+1}}
			</small>
			{{field.title}}
			<span class="required-error" ng-show="!field.required">{{ 'OPTIONAL' | translate }}</span>
		</h3>
    	<br>
    	<p class="col-xs-12">{{field.description}}</p>
    </div>
    <div class="col-xs-12 field-input container">
		<div class="row-fluid"
			 on-enter-or-tab-key="nextField()"
			 on-tab-and-shift-key="prevField()">
            <label class="btn col-md-5 col-xs-12"
				   ng-class="{activeBtn: field.fieldValue == 'true'}">
                <input class="focusOn"
				    ng-focus="setActiveField(field._id, index, true)"
                    ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}"
                    type="radio" value="true"
                    ng-model="field.fieldValue"
                    ng-model-options="{ debounce: 250 }"
                    ng-required="field.required"
                    ng-disabled="field.disabled"
					ng-change="$root.nextField()"/>
                <span>{{ 'LEGAL_ACCEPT' | translate }}</span>
            </label>
            <label class="btn col-md-5 col-md-offset-1 col-xs-12"
				   ng-class="{activeBtn: field.fieldValue == 'false'}">
                <input class="focusOn"
					ng-style="{'color': design.colors.answerColor, 'border-color': design.colors.answerColor}"
                    type="radio" value="false"
                    ng-model="field.fieldValue"
                    ng-model-options="{ debounce: 250 }"
                    ng-required="field.required"
                    ng-disabled="field.disabled"
					ng-change="$root.nextField()"/>
                <span>{{ 'LEGAL_NO_ACCEPT' | translate }}</span>
            </label>
        </div>

    </div>
</div>
<br>
