<div
  class="field row radio"
  on-enter-or-tab-key="nextField()"
  key-to-option
  field="field"
  ng-if="field.fieldOptions.length > 0"
>
  <div
    class="col-xs-12 field-title"
    ng-style="{'color': design.colors.questionColor}"
  >
    <h3>
      <small class="field-number"> {{ index }} </small> {{ field.title }}
      <!--
        <p style="display: block;font-style: italic;font-size: 13px;margin-top: 5px; margin-left: 18px;">
        	Marcar apenas uma opção por linha
        </p>
      -->
    </h3>
  </div>

  <div class="col-xs-12 field-input">
    <div class="row">
      <div class="col-md-12">
        <ul class="twoa-radio-option-list">
          <li ng-repeat="option in field.fieldOptions">
            <label for="{{field._id}}_{{option.option_id}}_0">
              <input
                type="radio"
                id="{{field._id}}_{{option.option_id}}_0"
                value="{{option.option_value}}"
                ng-model="field.fieldValue"
                ng-model-options="{ debounce: 250 }"
                ng-required="field.required"
                ng-disabled="field.disabled"
                ng-change="$root.nextField()"
                ng-focus="setActiveField(field._id, index, true)"
                style="transform: scale(1.3);"
              />
              <span ng-bind="option.option_value"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br />
