<div class="field row"
	 on-enter-or-tab-key="nextField()"
	 key-to-option field="field">
    <div class="col-xs-12 field-title">

	</div>

	<div class="col-xs-12">
		<p></p>
	</div>

	

    <div class="col-xs-12">
		<div class="row form-group">
			<label for="servico" class="text-right col-sm-4 control-label">Escolha um serviço no qual tenha sido atendido(a)</label>
			<div class="col-sm-8">

			<select class="form-control" id="servico"
					ng-model="field.fieldValue.servico"
					ng-model-options="{ debounce: 250 }"
					value="field.fieldValue.servico">
				<option value="Visitas Domiciliares - Agentes de Saúde">Visitas Domiciliares - Agentes de Saúde.</option>
				<option value="Clínica Geral">Clínica Geral.</option>
				<option value="Ginecologia e Obstetrícia">Ginecologia e Obstetrícia.</option>
				<option value="Pediatria">Pediatria.</option>
				<option value="Exames laboratoriais">Exames laboratoriais.</option>
				<option value="Odontologia">Odontologia.</option>
				<option value="Serviços de Enfermagem.">Serviços de Enfermagem</option>
				<option value="Atendimentos de Pronto Socorro  24 Hs , Urgência / Emergência">Atendimentos de Pronto Socorro  24 Hs , Urgência / Emergência.</option>
				<option value="Cardiologia">Cardiologia</option>
				<option value="Ortopedia">Ortopedia</option>
				<option value="Oftalmologia">Oftalmologia</option>
				<option value="Psiquiatria">Psiquiatria</option>
				<option value="Urologia">Urologia</option>
				<option value="Dermatologia">Dermatologia</option>
				<option value="Neurologia">Neurologia</option>
				<option value="Gastro">Gastro</option>
				<option value="Serviços de Fisioterapia">Serviços de Fisioterapia.</option>
				<option value="Serviço de Vacinação">Serviço de Vacinação</option>
				<option value="Exames de Imagem: RX, Ultrassom, Eletrocardiograma, Ecocardiograma, Endoscopia, e outros">Exames de Imagem: RX, Ultrassom, Eletrocardiograma, Ecocardiograma, Endoscopia, e outros.</option>
				</select>			
			</div>
		</div>
    </div>

    <!-- <div id="barra-legenda" class="row">
        <div class="col-xs-12 text-center">
            <ul class="legenda">
                <li><span>1</span>Péssimo</li>
                <li><span>2</span>Ruim</li>
                <li><span>3</span>Indiferente</li>
                <li><span>4</span>Concordo parcialmente</li>
                <li><span>5</span>Concordo totalmente</li>
            </ul>
        </div>        
    </div>	 -->
</div>
<br>