<div
  class="field row"
  on-enter-or-tab-key="nextField()"
  key-to-option
  field="field"
>
  <div class="col-xs-12 field-title">
    <h3>
      <!--
        <p style="display: block;font-style: italic;font-size: 13px;margin-top: 5px; margin-left: 18px;">
        	Marcar apenas uma opção por linha
        </p>
      -->
    </h3>
  </div>

  <div class="col-xs-12"><p></p></div>

  <div class="col-xs-12">
    <div class="row form-group">
      <label for="unidade" class="text-right col-sm-4 control-label"
        >Unidade de efetivo exercício de suas funções</label
      >
      <div class="col-sm-8">
        <select
          class="form-control"
          id="unidade"
          ng-model="field.fieldValue.unidade"
          ng-model-options="{ debounce: 250 }"
          value="field.fieldValue.unidade"
        >
          <option value="Agências da Receita-ARE’s"
            >Agências da Receita-ARE’s</option
          >
          <option
            value="Assessoria Técnico-Administrativa, NLCC, GAS/SEFA, GRHS/SEFA, GOFS/SEFA e EFAZ"
            >Assessoria Técnico-Administrativa, NLCC, GAS/SEFA, GRHS/SEFA,
            GOFS/SEFA e EFAZ</option
          >
          <option
            value="Coordenação de Gestão Estratégica e Tecnologia da Informação e Comunicação-CGETIC"
            >Coordenação de Gestão Estratégica e Tecnologia da Informação e
            Comunicação-CGETIC</option
          >
          <option value="Coordenação do Orçamento Estadual-COE"
            >Coordenação do Orçamento Estadual-COE</option
          >
          <option value="Coordenação do Tesouro Estadual-CTE"
            >Coordenação do Tesouro Estadual-CTE</option
          >
          <option value="Delegacias da Receita-DRR’s, DECOE e DJ"
            >Delegacias da Receita-DRR’s, DECOE e DJ</option
          >
          <option value="Gabinete da CRE e Assessorias vinculadas"
            >Gabinete da CRE e Assessorias vinculadas</option
          >
          <option
            value="Gabinetes do Secretário e do Diretor Geral e Assessorias/Conselhos vinculadas"
            >Gabinetes do Secretário e do Diretor Geral e Assessorias/Conselhos
            vinculadas</option
          >
          <option
            value="Inspetorias Gerais de Arrecadação, de Fiscalização e de Tributação (IGA, IGF e IGT)"
            >Inspetorias Gerais de Arrecadação, de Fiscalização e de Tributação
            (IGA, IGF e IGT)</option
          >
          <option
            value="Núcleo de Gestão Fazendária Setorial-NGFS e seus GOFS vinculados"
            >Núcleo de Gestão Fazendária Setorial-NGFS e seus GOFS
            vinculados</option
          >
          <option
            value="Ouvidoria, Corregedoria Geral e Núcleo de Controle Interno"
            >Ouvidoria, Corregedoria Geral e Núcleo de Controle Interno</option
          >
        </select>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row form-group">
      <label for="tempo_servico" class="text-right col-sm-4 control-label"
        >Tempo de Serviço Público</label
      >
      <div class="col-sm-8">
        <select
          class="form-control"
          id="tempo_servico"
          ng-model="field.fieldValue.tempo_servico"
          ng-model-options="{ debounce: 250 }"
          value="field.fieldValue.tempo_servico"
        >
          <option value="0 - 5 anos">0 - 5 anos</option>
          <option value="6 - 10 anos">6 - 10 anos</option>
          <option value="11 - 20 anos">11 - 20 anos</option>
          <option value="21 - 30 anos">21 - 30 anos</option>
          <option value="31 - 35 anos">31 - 35 anos</option>
          <option value="Mais de 35 anos">Mais de 35 anos</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row form-group">
      <label for="cargo_comisssionado" class="text-right col-sm-4 control-label"
        >Cargo Comissionado</label
      >
      <div class="col-sm-8">
        <select
          class="form-control"
          id="cargo_comisssionado"
          ng-model="field.fieldValue.cargo_comisssionado"
          ng-model-options="{ debounce: 250 }"
          value="field.fieldValue.cargo_comisssionado"
        >
          <option value="Sem cargo comissionado/função gratificada"
            >Sem cargo comissionado/função gratificada</option
          >
          <option value="Comissionado sem vínculo"
            >Comissionado sem vínculo</option
          >
          <option
            value="Comissionado/função gratificada com vínculo efetivo SEFA"
            >Comissionado/função gratificada com vínculo efetivo SEFA</option
          >
          <option
            value="Comissionado/função gratificada com vínculo efetivo de outros órgãos"
            >Comissionado/função gratificada com vínculo efetivo de outros
            órgãos</option
          >
        </select>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row form-group">
      <label for="carreira" class="text-right col-sm-4 control-label"
        >Carreira</label
      >
      <div class="col-sm-8">
        <select
          class="form-control"
          id="carreira"
          ng-model="field.fieldValue.carreira"
          ng-model-options="{ debounce: 250 }"
          value="field.fieldValue.carreira"
        >
          <option value="Agente Fazendário">Agente Fazendário</option>
          <option value="Auditor Fiscal">Auditor Fiscal</option>
          <option value="Outras">Outras</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row form-group">
      <label for="escolaridade" class="text-right col-sm-4 control-label"
        >Escolaridade</label
      >
      <div class="col-sm-8">
        <select
          class="form-control"
          id="escolaridade"
          ng-model="field.fieldValue.escolaridade"
          ng-model-options="{ debounce: 250 }"
          value="field.fieldValue.escolaridade"
        >
          <option value="Ensino Fundamental">Ensino Fundamental</option>
          <option value="Ensino Médio">Ensino Médio</option>
          <option value="Ensino Superior">Ensino Superior</option>
          <option
            value="Pós-graduação Lato e Stricto Sensu, Mestrado e Doutorado"
            >Pós-graduação Lato e Stricto Sensu, Mestrado e Doutorado</option
          >
        </select>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="row form-group">
      <label for="idade" class="text-right col-sm-4 control-label">Idade</label>
      <div class="col-sm-8">
        <select
          class="form-control"
          id="idade"
          ng-model="field.fieldValue.idade"
          ng-model-options="{ debounce: 250 }"
          value="field.fieldValue.idade"
        >
          <option value="18 - 30">18 - 30</option>
          <option value="31 - 45">31 - 45</option>
          <option value="46 - 60">46 - 60</option>
          <option value="Acima de 60">Acima de 60</option>
        </select>
      </div>
    </div>
  </div>

  <!--
    <div id="barra-legenda" class="row">
        <div class="col-xs-12 text-center">
            <ul class="legenda">
                <li><span>1</span>Péssimo</li>
                <li><span>2</span>Ruim</li>
                <li><span>3</span>Indiferente</li>
                <li><span>4</span>Concordo parcialmente</li>
                <li><span>5</span>Concordo totalmente</li>
            </ul>
        </div>
    </div>
  -->
</div>
<br />
