<div
  class="statement field row"
  on-enter-or-tab-key="nextField()"
  on-tab-and-shift-key="prevField()"
  ng-focus="setActiveField(field._id, index, true)"
>
  <div class="row field-title field-title">
    <div class="col-xs-1"><i class="fa fa-quote-left fa-1"></i></div>
    <p class="text-left col-xs-9">{{ field.title }}</p>
  </div>
  <div class="row ">
    <br />
    <div class="col-xs-offset-1 col-xs-11">
      <ol>
        <li ng-repeat="f in field.fieldOptions">
          <span>{{ f.option_value }}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
