<div class="field row" ng-click="setActiveField(field._id, index, true)">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
		<h3>
			<small class="field-number">
				{{index}}
			</small>
			{{field.title}}
		</h3>
	</div>

	<div class="field-input col-xs-12">
		<div class="row">
			<div class="col-md-12">
				<textarea class="textarea focusOn" type="text"
					ng-model="field.fieldValue"
					ng-model-options="{ debounce: 250 }"
					ng-class="{ 'no-border': !!field.fieldValue }"
					value="{{field.fieldValue}}"
					ng-focus="setActiveField(field._id, index, true)"
					rows="6"
					maxlength="3000"
					style="width: 100%; border: lightgrey solid 1px; border-radius: 2px; font-size: 14px; color: black; line-height: normal;">
				</textarea>
			</div>
		</div>		
    </div>	
</div>


