<div class="field row" ng-click="setActiveField(field._id, index, true)">
    <div class="col-xs-12 field-title" ng-style="{'color': design.colors.questionColor}">
		<h3>
			<small class="field-number">
				{{index+1}}
			</small>
			{{field.title}}
			<span class="required-error" ng-show="!field.required">{{ 'OPTIONAL' | translate }}</span>
		</h3>
		<p>
			<small>{{field.description}}</small>
		</p>
	</div>

	<div class="col-xs-12">
		<form>
			<div class="form-group">
				<label>No BNDES</label>
				<textarea class="textarea form-control focusOn" rows="3" type="text"
					ng-model="field.fieldValue[0]"
					ng-model-options="{ debounce: 250 }"
					value="{{field.fieldValue}}"
					ng-required="field.required"
					ng-disabled="field.disabled"
					ng-focus="setActiveField(field._id, index, true)">
				</textarea>
			</div>

			<div class="form-group">
				<label>Na minha área</label>
				<textarea class="textarea form-control focusOn" rows="3" type="text"
					ng-model="field.fieldValue[1]"
					ng-model-options="{ debounce: 250 }"
					value="{{field.fieldValue}}"
					ng-required="field.required"
					ng-disabled="field.disabled"
					ng-focus="setActiveField(field._id, index, true)">
				</textarea>
			</div>
		</form>

		<div>
			<button ng-disabled="!field.fieldValue || forms.myForm.{{field.fieldType}}{{$index}}.$invalid"
					ng-click="$root.nextField()"
					class="btn btn-lg btn-default">

				{{ 'OK' | translate }} <i class="fa fa-check"></i>
			</button>
		</div>		 
	</div>
</div>


